/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome";
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   font-family: 'Quicksand', sans-serif;
 }

.thumbnail {
  width: 300px;
  height: 350px;
  overflow: hidden;
}

.thumbnail-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin:auto;
}

.thumbnail-image {
  width: 100%;
  height: auto;
}

.cart-image {
  width: 100%;
  height: auto;
}

.cart-image-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.nav-header {
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  color: #000000;
}

.nav-header:hover, .nav-header:active, .cat-link:hover, .nav-link:hover {
  text-decoration: none;
  color: #006666;
}

.product-image-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: auto;
}

.product-image {
  width: 100%;
  height: auto;
}

.cat-link {
  color: #000000;
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
}

.cat-link-container {
  display: inline-block;
  margin-left: 20px;
}

// .cat-container {
//   width:800px;
//   margin: auto;
// }

.caption {
  // width: 200px;
  margin-left: 30px;
  // margin-right: auto;
  margin-bottom: 40px;
}

.caption-name {
  color: #000000;
}

h1 {
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 20px;
}

.nav-link {
  color: #000000;
}

.nav-link-container {
  margin-top: 10px;
}

// the merchant dropdown object
.merchant-dropdown {
  background-color: #FFFFFF;
  border-style: none;
  font-size: 12px;
}

// the merchant dropdown div
.dropdown {
  display: inline;
  margin-left: 15px;
}

.error-message {
  color: red;
}

// reviews on product show page
.review-title {
  font-weight: bold;
}

.review-list {
  list-style-type: none;
  text-align: left;
}

.star {
  font-size: 25px;
  color: gold;
  padding: 3px;
}

// text fields for forms
.form-group {
  max-width: 350px;
  margin: auto;
}

// new merchant page
.signup {
  margin-bottom: 22px;
}

// retired product
.retired-product {
  opacity: .3;
  background: rgba(54, 25, 25, .5);
}

// error messages on checkout page
.checkout-errors {
  max-width: 400px;
  margin: auto;
  color: red;
}
