<h1> dropdown or nav to categories goes here </h1>
<h1> dropdown merchants goes here </h1>

<h1> all products go here </h1>
<table class="table table-hover">
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td> <%= link_to product.name, product %></td>
          <td> <%= product.price %></td>
          <td> <%= image_tag(product.photo_url) %></td>
        </tr>
        <% end %>
    </tbody>
</table>
