<div class="col-md-12 text-center">
  <h1> <%= @product.name %> </h1>
  <h4> Image goes here </h4>
  <h4> Price: <%= @product.price %> </h4>
  <p> <%= @product.description %></p>
  <h4>link to reviews</h4>
</div>
